<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment Form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h3>Edit Comment</h3>
    <br>
    <form action="/comments/<%=comment.id%>" method="POST">
        <h4>Comment:</h4>
        <textarea name="content" cols="80" rows="10" ><%=comment.content%></textarea>
        <br>
        <h4>Author:</h4>
        <button type="submit" class="btn">Edit comment</button>
    </form> 
</body>
</html>