<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <br>
    <br>
    <button class="btn"><a href="/users">Login</a></button>
    <br>
    <br>
    <button class="btn"><a href="/auth/github">Login with Github</a><i class="fa fa-github"></i></button>
    <br>
    <br>
    <button class="btn"><a href="/auth/google">Login with Google</a><i class="fa fa-google"></i></button>
    <script src="https://kit.fontawesome.com/7b88d6941e.js" crossorigin="anonymous"></script>
  </body>
</html>
