<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        
    <h1>Login Page</h1>
    <br>
    <a href="/users">Login</a>
    <br>
    <br>
    <br>
    <form action="/users/register" method="POST">
        <input type="text" name="name" placeholder="Enter your name"><br>
        <input type="email" name="email" placeholder="Email id:"><br>
        <input type="password" name="password" placeholder="Password:"><br>
        <button type="submit" class="btn">Register</button>
    </form>
    <br>
    <br><br>
    <a href="/users">Already Registered? Login</a>
    <br>
    </div>
</body>
</html>